<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <title>{{ title }}</title>
  {{& stylesheet }}
</head>
<body>

<div id='container'>
  <div id="background"></div>
  <table cellspacing=0 cellpadding=0>
  <thead>
    <tr>
      <th class=docs><h1>{{ title }}</h1></th>
      <th class=code>

        {{#sources?}}
          <a href="#" id="jump-to">
            Jump To &hellip;
          </a>
          <ul id="sources">
            {{#sources}}
              <li><a class="source" href="{{ url }}" data-path="{{ path }}">{{ basename }}</a></li>
            {{/sources}}
          </ul>
        {{/sources?}}


      </th>
    </tr>
  </thead>
  <tbody>

    </tr>
    {{#sections}}
    <tr id='section-{{ section_id }}'>
      <td class=docs>
        <div class="pilwrap">
          <a class="pilcrow" href="#section-{{ section_id }}">&#182;</a>
        </div>
        {{{ docs }}}
      </td>
      <td class=code>
        <div class='highlight'><pre>{{{ code }}}</pre></div>
      </td>
    </tr>
    {{/sections}}
  </table>
</div>
</body>
